@media screen  and (min-height: 1441px) {
    .welcome-text{
        margin-top: 160%;
        transition-duration: 200ms;
        font-size: 24pt;

    }
    .log-in{
        width: 600px;
    }
    #user-login{
        margin: 50px 0 0 calc(600px/2 - 80%/2);
        padding: 20px 20px;
    }
    #user-password{
        margin: 20px 0 0 calc(600px/2 - 80%/2);
        padding: 20px 20px;
    }
    #input-sign-up{
        margin: 30px calc(10%) 0 0;
        width: 35%;
    }
    #input-log-in{
        margin: 30px 0 0 calc(600px/2 - 80%/2);
        width: 35%;
    }

}