@media screen and (orientation: landscape) {
    .welcome-text{
        margin-top: 20%;
        transition-duration: 200ms;
    }
}
@media screen and (orientation: landscape) and (min-height: 1441px){
    .welcome-text{
        margin-top: 100%;
        transition-duration: 200ms;
        font-size: 24pt;
    }
    .log-in{
        width: 600px;
    }
    #user-login{
        margin: 50px 0 0 calc(600px/2 - 80%/2);
        padding: 20px 20px;
    }
    #user-password{
        margin: 20px 0 0 calc(600px/2 - 80%/2);
        padding: 20px 20px;
    }
    #input-sign-up{
        margin: 30px calc(10%) 0 0;
        width: 35%;
    }
    #input-log-in{
        margin: 30px 0 0 calc(600px/2 - 80%/2);
        width: 35%;
    }
}

@media screen and (orientation: landscape) and (max-height: 1440px) {
    .welcome-text{
        margin-top: 80%;
        transition-duration: 200ms;
    }
}
@media screen and (orientation: landscape) and (max-height: 1000px) {
    .welcome-text{
        margin-top: 40%;
        transition-duration: 200ms;
    }
}
@media screen and (orientation: landscape) and (max-height: 1000px) {
    .welcome-text{
        margin-top: 40%;
        transition-duration: 200ms;
    }
}
@media screen and (orientation: landscape) and (max-height: 768px) {
    .welcome-text{
        margin-top: 30%;
        transition-duration: 200ms;
    }
}
@media screen and (orientation: landscape) and (max-height: 400px) {
    .welcome-text{
        margin-top: 15%;
        transition-duration: 200ms;
    }
}
@media screen and (orientation: landscape) and (max-height: 350px) {
    .welcome-text{
        margin-top: 10%;
        transition-duration: 200ms;
    }
}