#div-bg{
    background: url("/images/loginbg-1920x1280.jpg") no-repeat center top;
    background-size: cover;
}

#bg-img{

}

.login-panel{
  right: 50%;
  bottom: 54%;
  transform: translate(50%,50%);
  position: absolute;
    min-width: 600px;
    min-height: 300px;
     text-align: center;
    padding: 20px;


}

.welcome-text{
    margin-bottom: 25px;
}

#input-log-in{
  margin-left: 10%;
}
#input-sign-up{
  margin-left: 20%;
}

.login-input{
    width: 80%;
    padding: 12px 20px;
    margin-top: 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    min-height: 50px;
}