.strategy-wrapper {
    border: 1px solid #ddd;
    background-color: #ddd;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.action-wrapper {
    background-color: #eee;
    padding: 20px;
    margin-top: 20px;
}

.action-wrapper .glyphicon {
    font-size: 18px;
}

.username {
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.patient-controls {
    margin-bottom: 20px;
}

.date-actions-wrapper {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.target-wrapper {
    margin-bottom: 20px;
}