[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
ipfsapi = "*"
ipython = "*"
"base58" = "*"

[dev-packages]

[requires]
python_version = "3.6"
